nav{ margin-bottom: 25px; }

#topMenu{
    height: 40px;
    width: 100%;
    background-color: #FF5500;
}

#topMenu ul li{
    list-style: none;     /* �� ��ȣ ����  list-style: none;   */
    color: white;         /* ���� #555555 ����*/
    background-color:  #FF5500;
    float: left;      /* float: left;  li �±��� ��� ������ �������� ���� */
    line-height: 30px; /* �ϳ��� �� ���� */
    vertical-align: middle; /* ���� ���� �߰� ���� */
    text-align: center;      /* ���� ���� ���� */
}


#topMenu .menuLink{   /* A �±� �Ӽ� ���� */
    text-decoration: none;  /* ���� ���� */
    color: white;
    display: block;   /* A ���� ���� ���� ��ũ ���� */
    width: 150px;
    font-weight: bold;
    font-family: comic Sans MS ;
    font-size: 16pt;
}

#topMenu .menuLink:hover {  /* A �±׿� ���콺 over �Ӽ� ���� */
    color: #10385A;
    background-color: #C0DEF9;
    font-size: 16pt;
}