nav{ margin-bottom: 25px; }

#topMenu{
    height: 40px;
    width: 100%;
    background-color: #FF5500;
}

#topMenu ul li{
    list-style: none;
    color: white;
    background-color:  #FF5500;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}


#topMenu .menuLink{
    text-decoration: none;
    color: white;
    display: block;
    width: 150px;
    font-weight: bold;
    font-family: comic Sans MS ;
    font-size: 16pt;
}

#topMenu .menuLink:hover {
    color: #10385A;
    background-color: #C0DEF9;
    font-size: 16pt;
}